.maoboli_bg {
	height: 1983px; /*1783 px*/
    position: absolute;
	/*backdrop-filter: blur(23px);*/
    background: 
	linear-gradient(-45deg, rgba(255, 255, 255, .01),
            rgba(255, 255, 255, .1),
            rgba(255, 255, 255, .1),
            rgba(255, 255, 255, .01));
    backdrop-filter: blur(10px); /* 应用高斯模糊效果，可以根据需要调整模糊程度,数值越大越模糊 */
    -webkit-backdrop-filter: blur(10px);/* 兼容性前缀，适用于一些旧版本的浏览器 */
	overflow: hidden;
    width: 100%;
    z-index: -10; /*确保原内容在上层显示 */
	bottom: 0;
	mask: linear-gradient(transparent, black, black, black, black); /*自然过渡至模糊效果：https://www.oryoy.com/news/jie-suo-shi-jue-mo-fa-css-mo-hu-xiao-guo-guo-du-rang-ni-de-ye-mian-dong-qi-lai.html*/
}

