// 双栏美化：https://luo-honghua.gitee.io/2022/12/06/butterfly%E4%B8%BB%E9%A2%98%E6%96%87%E7%AB%A0%E5%8F%8C%E6%A0%8F%E5%B8%83%E5%B1%80/index.html
#recent-posts>.recent-post-item{
	border-radius: 30px;
}
.layout #recent-posts>.recent-post-item .post_cover{
	height: 240px;
}
#recent-posts>.recent-post-item>.recent-post-info{
	padding: 1px 30px;
}
.layout #recent-posts>.recent-post-item>.recent-post-info>.article-title{
	font-size: 1.20em;
}
#recent-posts>.recent-post-item>.recent-post-info>.article-meta-wrap{
	font-size: 50%;
}
/* 翻页按钮居中 */
#pagination {  
    overflow: hidden;
    margin-top: 1rem;
    width: 100%;
}

#pagination .page-number{
	box-shadow: 0 8px 16px -4px #2c2d300c;
}
.layout>.recent-posts .pagination>:not(.space){
	box-shadow: 0 8px 16px -4px #2c2d300c;
}

/*文章页边缘调整*/
.layout {
  margin: 0 150px;
}

@media screen and (min-width: 900px) {
  #aside-content {
    padding-left: 20px;
  }
}











