/* 来自：https://code7rain.github.io*/
/* 文章页背景 */
.layout_post>#post {
    /* 以下代表透明度为0.5 可以自行修改*/
    background: rgba(255,255,255,1.0);
}

/* 所有页面背景 */
#aside_content .card-widget, #recent-posts>.recent-post-item, .layout_page>div:first-child:not(.recent-posts), .layout_post>#page, .layout_post>#post, .read-mode .layout_post>#post{
    /* 以下代表首页文章标题栏透明度为0.7 */
    background: rgba(255,255,255,.7);
}
/*侧边卡片的透明度，但是它会把文章页也变了 */
:root {
  --card-bg: rgba(255, 255, 255, 1.0);
}

/* 设置毛玻璃特效：https://blog.liushen.fun/posts/28ae33b6/#%E8%AE%BE%E7%BD%AE%E7%BD%91%E7%AB%99%E6%AF%9B%E7%8E%BB%E7%92%83%E7%89%B9%E6%95%88 */
/* 侧边栏个人信息卡片和公告栏毛玻璃 */
#aside-content>.card-widget {
    position: relative;
    z-index: 1; /* 确保原内容在上层显示 */
    background: linear-gradient(-45deg, rgba(255, 255, 255, .7),
            rgba(255, 255, 255, .8),
            rgba(255, 255, 255, .8),
            rgba(255, 255, 255, .7));
    backdrop-filter: blur(10px); /* 应用高斯模糊效果，可以根据需要调整模糊程度 */
    -webkit-backdrop-filter: blur(10px);/* 兼容性前缀，适用于一些旧版本的浏览器 */
}

/* 侧边栏最新文章、归档、网站资讯毛玻璃 */
#aside-content>.sticky_layout>.card-widget {
    position: relative;
    z-index: 1; /* 确保原内容在上层显示 */
    background: linear-gradient(-45deg, rgba(255, 255, 255, .7),
            rgba(255, 255, 255, .8),
            rgba(255, 255, 255, .8),
            rgba(255, 255, 255, .7));
    backdrop-filter: blur(10px); /* 应用高斯模糊效果，可以根据需要调整模糊程度 */
    -webkit-backdrop-filter: blur(10px);/* 兼容性前缀，适用于一些旧版本的浏览器 */
}

/* 归档、标签、分类、关于等页面毛玻璃 */
#archive, #page {
    position: relative;
    z-index: 1; /* 确保原内容在上层显示 */
    background: linear-gradient(-45deg, rgba(255, 255, 255, .7),
            rgba(255, 255, 255, .8),
            rgba(255, 255, 255, .8),
            rgba(255, 255, 255, .7));
    backdrop-filter: blur(10px); /* 应用高斯模糊效果，可以根据需要调整模糊程度 */
    -webkit-backdrop-filter: blur(10px);/* 兼容性前缀，适用于一些旧版本的浏览器 */
}

.recent-post-item .post-bg {
    background: linear-gradient(-45deg, rgba(255, 255, 255, .1),
        rgba(255, 255, 255, .2),
        rgba(255, 255, 255, .2),
        rgba(255, 255, 255, .1));
    z-index: 1; /* 确保原内容在上层显示 */
    -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
    backdrop-filter: blur(2px); /* 应用高斯模糊效果，可以根据需要调整模糊程度 */
}

/* 文章页半透明 */
#post {
    background: rgba(255,255,255,0.95);
}

/*文章列表毛玻璃*/
.recent-post-item:not(.github_calendar) {
    position: relative;
    z-index: 1; /* 确保原内容在上层显示 */
    background: linear-gradient(-45deg, rgba(255, 255, 255, .2),
            rgba(255, 255, 255, .1),
            rgba(255, 255, 255, .1),
            rgba(255, 255, 255, .2));
    backdrop-filter: blur(10px); /* 应用高斯模糊效果，可以根据需要调整模糊程度 */
    -webkit-backdrop-filter: blur(10px);/* 兼容性前缀，适用于一些旧版本的浏览器 */
}

/* 文章页毛玻璃 */
/*
#post {
    position: relative;
    z-index: 1; 
    background: linear-gradient(-45deg, rgba(255, 255, 255, .95),
            rgba(255, 255, 255, .9),
            rgba(255, 255, 255, .9),
            rgba(255, 255, 255, .95));
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
}*/


/* 页脚透明 */
/* footer {*/
	/* 以下代表透明度为0.7 */
/*	background: rgba(255,255,255, .7);*/
/*}*/
/* 小鱼页脚透明 */
#footer {
    background: transparent !important;
}

/* 导航栏做居中处理 */
/* 一级菜单居中 */
#nav .menus_items {
/* display: inline; 这个带不带都可以，本来就是inline */
position: absolute;
width: fit-content;
left: 50%;
transform: translateX(-50%);
}

/* 去除导航栏选项中底下的蓝条 */
#nav *::after{
    background-color: rgba(239,71,93, .9) !important;
}

/* 导航栏菜单鼠标移入字体放大 */
#nav #site-name:hover, 
#nav .menus_item:hover, 
#nav #search-button:hover{
    font-size:28px;
}





